<!-- Footer -->

<hr>

<script type="text/javascript" src="/assets/bsz.pure.mini.js"></script>
<script type="text/javascript" src="/assets/vendor/jquery/jquery.min.js"></script>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}
        <br/>
         <span id="busuanzi_container_site_pv">
                 Visits: <span id="busuanzi_value_site_pv"></span>
         </span>
         &middot;
         <span id="busuanzi_container_site_uv">
               People: <span id="busuanzi_value_site_uv"></span>
         </span>
         <script type="text/javascript">
         var pv = setInterval(fixPV, 100);
         var uv = setInterval(fixUV, 100);
         var pvOffset = 2241;
         var uvOffset = 918;
         function fixPV () {
             var val = $("#busuanzi_value_site_pv")[0].innerHTML;
             if (val.length) {
                 clearInterval(pv);
                 $("#busuanzi_value_site_pv")[0].innerHTML =
                     parseInt(val) + pvOffset;
             }
         }
         function fixUV () {
             var val = $("#busuanzi_value_site_uv")[0].innerHTML;
             if (val.length) {
                 clearInterval(uv);
                 $("#busuanzi_value_site_uv")[0].innerHTML =
                     parseInt(val) + uvOffset;
             }
         }
         </script>
        </p>
      </div>
    </div>
  </div>
</footer>
